body {
    background-image: url(images/blue.jpg);
    /* padding-bottom: 10px; */
}

/* Navbar section */
.nav-link {
    color: #ffff;
    margin-left: 10px;
}
.navbar-brand {
    color: #ffff;
}
/* End of Navbar Section */

/* Info Section */
.info, .business-info {
    text-align: center;
    margin-top: 10px;
    font-family: Rubik;
    line-height: 2.2;
}

.modern, .modern1 {
    text-align: center;
    color: #000000;
    margin-top: 30px;
    padding-top: 20px;
}

.invent {
    text-align: center;
    margin-top: 40px;
}

.card {
    place-items: center;
    height: 38vh;
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    line-height: 1.8;
    font-family: Rubik;
    text-align: center;
}

.btn {
    margin-top: 20px;
    text-align: center;

}

.day {
    text-align: center;
    font-family: Rubik;
    background-color: #1f2120;
    color: white;
    padding-bottom: 25px;
    padding-top: 20px;
    margin-top: 45px;
}

.quote1 {
    line-height: 1.8;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.quote {
    line-height: 1.8;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
/* End of Info Section */

/* Start of Part B */
.future {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
}

img {
    margin-top: 50px;
    height: 170px;
}

.accordion-item, .accordion-body {
    background: black !important;
}
