body {
    background-image: url(images/blue.jpg)
}

/* Navbar section */
.nav-link {
    color: #ffff;
    margin-left: 10px;
}
.navbar-brand {
    color: #ffff;
}
/* End of Navbar Section */

/* Info Section */
.info, .business-info {
    text-align: center;
    margin-top: 10px;
    font-family: Rubik;
    line-height: 2.2;
}

.modern, .modern1 {
    text-align: center;
    color: #000000;
    margin-top: 30px;
    padding-top: 20px;
}

.invent {
    text-align: center;
    margin-top: 40px;
}

.card {
    place-items: center;
    height: 38vh;
    width: 175%;
    padding: 5px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.8;
    font-family: Rubik;
}

.btn {
    margin-top: 25px;
    text-align: center;

}

.day {
    text-align: center;
    font-family: Rubik;
    background-color: #1f2120;
    color: white;
    padding-bottom: 25px;
    padding-top: 20px;
    margin-top: 45px;
}

.quote1 {
    line-height: 1.8;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.quote {
    line-height: 1.8;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

/* End of Info Section */
